#our-expert {
    padding-bottom: 80px;

    .section-title {
        text-align: center;
        max-width: 550px;
        margin: 40px auto;

        h2 {
            margin: 0;
        }
    }

    .professional-cards {
        @include center;
        gap: 25px;
        flex-wrap: wrap;

        @include ultra-wide {
            margin: 0 auto;
            max-width: 1200px;
        }
    }
}
