@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{

}

<section id="service-form">
    <div class="container">
        <h4>Have a question ?</h4>
        <form method="post">
            <div class="inputs">
                <input type="text" name="" id="" placeholder="Name">
                <input type="text" name="" id="" placeholder="Email">
            </div>
            <textarea name="" id="text-area" rows="10" placeholder="Question"></textarea>
            <button class="btn-primary" type="submit">Submit</button>
        </form>
    </div>
</section>