@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@inject Umbraco.Cms.Web.Common.UmbracoHelper UmbracoHelper
@{
    var buttonColor = Model?.Value<ColorPickerValueConverter.PickedColor>("contactFormButtonColor")?.Label ?? "primary";
}

<div id="contact-form" class="container">
    <section class="form-box bg-light">
        <div class="title-text">
            <div class="section-title">
                <span>@Model?.Value("contactFormSectionTitle")</span>
                <h2>@Model?.Value("contactFormHeading")</h2>
            </div>
            <p>@Model?.Value("contactForomParagraph")</p>
        </div>
        @using (Html.BeginUmbracoForm("SubmitHandler", "Contact", FormMethod.Post, new { novalidate = "novalidate" }))
        {
           <div class="form-inputs">
                @await Html.PartialAsync("/Views/Partials/Shared/_ContactFormPartial.cshtml")
           </div>
            <button class="btn-@buttonColor" type="submit">@Model?.Value("contactFormButtonText")</button>
        }
    </section>
</div>