@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@inject Umbraco.Cms.Web.Common.UmbracoHelper UmbracoHelper
@inject IPublishedValueFallback PublishedValueFallback
@inject IPublishedUrlProvider PublishedUrlProvider
@using Umbraco.Cms.Core
@using Umbraco.Cms.Core.Models.PublishedContent
@using Umbraco.Cms.Core.Routing
@using Umbraco.Extensions
@using Umbraco.Cms.Web.Common.PublishedModels;
@{
    var selection = Model.Root().Children.Where(x => x.IsVisible(PublishedValueFallback)).ToArray();

    var root = UmbracoHelper.ContentAtRoot();
    var settings = root?.FirstOrDefault(x => x.ContentType.Alias == "siteSettings") ?? null;
    var siteLogoUrl = settings?.Value<IPublishedContent>("siteLogo")!.Url() ?? null;
}

<section class="top-bar bg-primary">
    <div class="container">
        <div class="address">Klarabergsviadukten 90, 111 64 Stockholm</div>
        @await Html.PartialAsync("/Views/Partials/Shared/_SocialMediaPartials.cshtml")
       @*  <div class="icons">
            <div class="icon">
                <a href="https://www.facebook.com" target="_blank">
                    <i class="fa-brands fa-facebook-f"></i>
                </a>
            </div>
            <div class="icon">
                <a href="https://www.twitter.com" target="_blank">
                    <i class="fa-brands fa-twitter"></i>
                </a>
            </div>
            <div class="icon">
                <a href="https://www.x.com" target="_blank">
                    <i class="fa-brands fa-linkedin-in"></i>
                </a>
            </div>
        </div> *@
    </div>
</section>
<section class="nav-section">
    <div class=" container">
        @if (!string.IsNullOrEmpty(siteLogoUrl))
        {
            <a href="/"><img src="@siteLogoUrl" alt="site-logo"></a>
        }

        @if (selection?.Length > 0)
        {
            <ul class="nav-bar">
                @foreach (var item in selection)
                {
                    <li>
                        <a class="link @(item.IsAncestorOrSelf(Model) ? "active" : null)" href="@item.Url(PublishedUrlProvider)">@item.Name</a>
                    </li>
                }
            </ul>
        }
        <button class="btn-menu"><i class="fa-solid fa-bars"></i></button>
    </div>
</section>