@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage;
@inject Umbraco.Cms.Web.Common.UmbracoHelper UmbracoHelper
@{
    var services = (IEnumerable<IPublishedContent>)ViewData["OurServicesCards"]!;
}

@if (services != null)
{
    @foreach (var service in services)
    {
        var serviceImage = service.Value<IPublishedContent>("thumbnailImage")?.Url() ?? "#";
        var servicePreamble = service.Value<string>("preamble") ?? $"{@service.Name()}";

        <a href="@service.Url()" class="service-card">
            <div class="content">
                <h4>@service.Name()</h4>
                <img src="@serviceImage" alt="service image">
                <p class="small-text">
                    @servicePreamble
                </p>
            </div>
        </a>
    }
}


