@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage;
@inject Umbraco.Cms.Web.Common.UmbracoHelper UmbracoHelper
@{
    var services = (IEnumerable<IPublishedContent>)ViewData["OurServicesCards"]!;
}

@if (services != null)
{
    @foreach (var service in services)
    {
        var serviceImage = service.Value<IPublishedContent>("serviceCardThumbnailImg")?.Url() ?? "#";
        var servicePreamble = service.Value<string>("serviceCardPremable") ?? $"{@service.Name()}";
        var serviceHeading = service.Value<string>("servieCardHeading") ?? $"{@service.Name()}";

        <a href="@service.Url()" class="service-card">
            <div class="content">
                <h4>@serviceHeading</h4>
                <img src="@serviceImage" alt="@Model.Value("serviceCardThumbnailAltText")">
                <p class="small-text">
                    @servicePreamble
                </p>
            </div>
        </a>
    }
}


