@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage;
@inject Umbraco.Cms.Web.Common.UmbracoHelper UmbracoHelper
@{

}

<aside class="side-bar">
    <div class="tags-box">
        <h4>Tags</h4>
        <p class="tag">Report</p>
        <p class="tag">Busines plans</p>
        <p class="tag">Insights</p>
        <p class="tag">Business</p>
        <p class="tag">App</p>
        <p class="tag">Project</p>
        <p class="tag">Finance</p>
        <p class="tag">Pricing</p>
    </div>
    <div class="card">
        <h4>How can we help you?</h4>
        <p>online support 24/7, we are here to help you</p>
        <div class="input-div"><input type="text" placeholder="Email address"><i class="fa-regular fa-envelope"></i></div>
    </div>
</aside>