@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage;
@inject Umbraco.Cms.Web.Common.UmbracoHelper UmbracoHelper
@{
    var tagList = Model.Value<IEnumerable<BlockListItem>>("tags") ?? null;
}

<aside class="side-bar">
    <div class="tags-box">
        <h4>Tags</h4>
        @if(tagList != null)
        {
            foreach (var tag in tagList)
            {
                <p class="tag">@tag.Content.Value("tagName")</p>
            }
        }
    </div>
    <div class="card">
        <h4>How can we help you?</h4>
        <p>online support 24/7, we are here to help you</p>
        <div class="input-div"><input type="text" placeholder="Email address"><i class="fa-regular fa-envelope"></i></div>
    </div>
</aside>