@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage;
@inject Umbraco.Cms.Web.Common.UmbracoHelper UmbracoHelper
@{
    string error_email = TempData["support_error_email"]?.ToString()!;
    string formSuccess = TempData["support_form-success"]?.ToString()!;
}

<div id="side-menu-card" class="card">
    <h4>How can we help you?</h4>
    <p>online support 24/7, we are here to help you</p>
    @using (Html.BeginUmbracoForm("SubmitHandler", "Support", FormMethod.Post, new { novalidate = "novalidate" }))
    {
        <div class="input-group @(!string.IsNullOrEmpty(error_email) ? "form-error" : null)">
            <input type="text" id="email" name="email" value="@TempData["support_email"]" placeholder="Email address">
            <span>Enter a vaild email!</span>
            <button type="submit" class="btn-gray"><i class="fa-regular fa-envelope"></i></button>
        </div>
        @if (formSuccess == "success")
        {
            <span class="success-form">Message submitted successfully</span>
        }
        else if (formSuccess == "fail")
        {
            <span class="success-form fail">Something went wrong sending your message, try again later..</span>
        }
    }
</div>




