@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage;
@inject Umbraco.Cms.Web.Common.UmbracoHelper UmbracoHelper
@{

}

<div class="card">
    <h4>How can we help you?</h4>
    <p>online support 24/7, we are here to help you</p>
    <div class="input-div"><input type="text" placeholder="Email address"><i class="fa-regular fa-envelope"></i></div>
</div>