@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = "masterLayout.cshtml";
}

@await Html.PartialAsync("/Views/Partials/Shared/_BreadCrumbPartial.cshtml")

<h1 class="container" style="margin-top:200px; font-size:80px;">Contact Page</h1>



