@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@inject Umbraco.Cms.Web.Common.UmbracoHelper UmbracoHelper
@{
    Layout = "masterLayout.cshtml";
    ViewBag.Title = @Model.Value("pageTitle") ?? "Contact Us";
}

@await Html.PartialAsync("/Views/Partials/Shared/_BreadCrumbPartial.cshtml")
@await Html.PartialAsync("/Views/Partials/Shared/_ContactInformationPartial.cshtml")
<div id="map">
    @await Html.PartialAsync("/Views/Partials/Pages/contact-page/_MapPartial.cshtml")
    @await Html.PartialAsync("/Views/Partials/Pages/contact-page/_ContactFormPartial.cshtml")
</div>
@await Html.PartialAsync("/Views/Partials/Shared/_BrandMentionsPartial.cshtml")