<section id="main-content">
    <div class="container">
        @await Html.PartialAsync("./_ProjectsCardsPartial.cshtml")
        @await Html.PartialAsync("./_ProjectsMenuPartial.cshtml")
    </div>
</section>
