@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{

}

<section id="main-content">
    <div class="container">
        <div class="articles">

            <div class="article-box">
                <img src="/images/annual report.png" alt="">
                <div class="text-info">
                    <h4>Annual Report for Juva Inc.</h4>
                    <p class="date"><i class="fa-regular fa-calendar-days"></i>June 15, 2024</p>
                    <p class="paragraph">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. Sed ut perspiciatis unde omnis iste natus error.</p>
                    <a>Read more <i class="fa-solid fa-arrow-right"></i></a>
                </div>
            </div>

            <div class="page-buttons">
                <a href="" class="prev-next-btn active">Prev</a>
                <a href="" class="page-btn active-btn">1</a>
                <a href="" class="page-btn active-btn">2</a>
                <a href="" class="prev-next-btn active">Next</a>
            </div>
        </div>
    </div>

</section>