#service-form {
    padding-top: 70px;
    padding-bottom: 80px;

    .form-group {
        width: 100%;

        h4 {
            font-size: 25px;
            margin-bottom: 15px;
        }

        .inputs {
            display: flex;
            gap: 30px;
        }

        button {
            margin-top: 15px;
            color: var(--color-accent);
        }
    }

    @include ultra-wide {
        max-width: 1200px;
    }
}
