#service-details {

    .article-menu {
        display: flex;
        flex-direction: column-reverse;

        @include tablet {
            flex-direction: row;
            gap: 50px;
        }

        .service-article {
            padding-top: 80px;

            @include tablet {
                max-width: 770px;
                width: 100%;
            }

            p {
                img {
                    max-width: 760px;
                }
            }
        }

        .side-bar {
            border-top: 1px solid var(--color-border-gray);
            margin-top: 30px;

            @include tablet {
                border-top: none;
                width: 340px;
                padding-top: 30px;
                border-right: 1px solid var(--color-border-gray);
                border-bottom: none;
                border-top: none;
                border-left: none;
                padding-left: 0;
                padding-right: 40px;
                margin-bottom: 0;
            }

            .menu-card {
                padding: 15px 0;
                max-width: 300px;
                width: 100%;
                text-decoration: none;
                color: var(--color-deafult);
                border-radius: 10px;

                img {
                    width: 300px;
                    height: 168px;
                    object-fit: cover;
                }

                h4 {
                    margin: 7px 0 25px 5px;
                    max-width: 150px;
                }

                .info {
                    @include small-text;
                    margin: 25px 0 0 5px;
                }

                &:hover {
                    box-shadow: 2px 2px 40px 5px var(--color-border-gray);
                }
            }
        }

        @include ultra-wide {
            max-width: 1200px;
        }
    }
}
