@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Umbraco.Cms.Core.PropertyEditors.ValueConverters;
@inject Umbraco.Cms.Web.Common.UmbracoHelper UmbracoHelper
@{
    var showArticle = Model.Value<bool>("displayArticle");


}

 <article id="article" class="bg-light">
                <div class="container">
                    <figure>
                        <div class="image">
                            <img src="./images/artice Tina Fox.png" alt="image of Tina Fox">
                            <figcaption>@Model.Value("imageCaption")</figcaption>
                        </div>
                        <div class="text">
                            @Model.Value("articleText")
                        </div>
                    </figure>


                </div>

            </article>