@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@inject Umbraco.Cms.Web.Common.UmbracoHelper UmbracoHelper
@{
    var showArticle = Model.Value<bool>("displayArticle");
    var articleImage = Model.Value<IPublishedContent>("articleImage")?.Url() ?? "";
    var backgroundColor = Model.Value<ColorPickerValueConverter.PickedColor>("articleBackgroundColor")?.Label ?? "light";
}

@if (showArticle)
{
    <article id="article" class="bg-@backgroundColor">
        <div class="container">
            <figure>
                <div class="image">
                    <img src="@articleImage" alt="image of Tina Fox">
                    <figcaption>@Model.Value("imageCaption")</figcaption>
                </div>
                <div class="text">
                    @Model.Value("articleText")
                </div>
            </figure>
        </div>
    </article>
}
