<article id="project-details">
    <div class="container">
        @await Html.PartialAsync("./_ProjectArticlePartial.cshtml")
        @await Html.PartialAsync("./_ProjectDetailsMenuPartial.cshtml")
    </div>
</article>