@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* ifall personen inte har ställt in i sin webläsare att hen INTE vill ha mjuk scrolling så kommer det vara standard */
@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}
*, *::before, *::after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /*stänger av att det inte blir en markering när man använder mobil */
}

html, body, section, div, header, footer, main, aside, nav, blockquote, p, span {
  margin: 0;
  padding: 0;
}

/*detta gör att den utgår ifrån mitten av bilden när den ska räkna ut saker*/
img, svg {
  vertical-align: middle;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: #535656;
}

main {
  flex: 1;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.container, .container-fluid {
  position: relative;
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .container {
    max-width: 95%;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1200px;
  }
}
@media (min-width: 1921px) {
  .container {
    max-width: 1800px;
  }
}

.service-card {
  background-color: var(--color-light);
  max-width: 370px;
  height: 420px;
  box-shadow: 1px 1px 10px 1px var(--color-border-gray);
  text-decoration: none;
  color: var(--color-deafault);
  border-radius: 3px;
}
.service-card .content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.service-card .content img {
  max-width: 100%;
  max-height: 220px;
}
.service-card .content h4 {
  font-weight: 600;
  margin-left: 30px;
  margin-bottom: 0;
}
.service-card .content p {
  color: var(--color-default);
  margin-left: 30px;
  padding-bottom: 0;
  width: 320px;
}
.service-card:hover {
  color: var(--color-default);
  transform: scale(1.03);
  box-shadow: 1px 1px 10px 8px var(--color-border-gray);
}

/*inline-block gör att dom går att styla och att dom ändå ligger bredvid varann och inte under varann som en block element hade gjort */
a {
  display: inline-block;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1em;
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}
a[target=_blank]::after {
  content: "\f08e";
  font-family: "Font Awesome 6 Free";
  display: inline-block;
  vertical-align: middle;
  font-size: 0.8em;
  margin-left: 0.4em;
  margin-top: -0.9em;
  font-weight: 600;
}

.active {
  color: var(--color-secondary);
}

.btn-dark, .btn-primary, .btn-secondary, .btn-accent, .btn-gray, .btn-light {
  display: inline-block;
  cursor: pointer;
  border-radius: 3px;
  border: 1px solid;
  padding: 15px 40px;
  font-size: 16px;
  transition: 0.25s;
  text-decoration: none !important;
  background-color: transparent;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}
.btn-dark:hover, .btn-primary:hover, .btn-secondary:hover, .btn-accent:hover, .btn-gray:hover, .btn-light:hover {
  transition: 0.25s;
  text-decoration: none;
}

.btn-menu {
  display: inline-block;
  cursor: pointer;
  border-radius: 3px;
  border: 1px solid;
  padding: 15px 40px;
  font-size: 16px;
  transition: 0.25s;
  text-decoration: none !important;
  background-color: transparent;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-default);
  padding: 0;
  height: 55px;
  width: 55px;
  border-radius: 50%;
  border-color: var(--color-border-gray);
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  height: 55px;
  width: 55px;
  font-size: 1.6rem;
}
.btn-menu:hover {
  transition: 0.25s;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-decoration: none !important;
  margin-top: 0;
  margin-bottom: 0.5em;
  line-height: 1.4;
}

p {
  padding-top: 0rem;
  padding-bottom: 1em;
}

h1 {
  font-size: 70px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 22px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 14px;
}

.small-text {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
}

.section-title span {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  font-weight: bold;
}

input {
  display: block;
  padding: 15px 15px 15px 15px;
  margin-bottom: 22px;
  width: 100%;
  border: 1px solid var(--color-border-gray);
  border-radius: 3px;
  overflow: hidden;
  outline: none;
}
input::placeholder {
  color: var(--color-border-gray);
}

select {
  display: block;
  padding: 15px 15px 15px 15px;
  margin-bottom: 22px;
  width: 100%;
  border: 1px solid var(--color-border-gray);
  border-radius: 3px;
  overflow: hidden;
  outline: none;
}

#text-area {
  width: 100%;
  border-color: var(--color-border-gray);
  border-radius: 3px;
  padding: 15px 15px 15px 15px;
  resize: none;
}
#text-area::placeholder {
  color: var(--color-border-gray);
}

.homepage-form-card {
  display: flex;
  flex-direction: column;
  height: 565px;
  max-width: 470px;
  box-shadow: 2px 5px 20px 0 var(--color-border-gray);
}
.homepage-form-card .top {
  display: flex;
  justify-content: left;
  align-items: center;
  height: 100px;
}
.homepage-form-card .top h3 {
  padding-left: 30px;
  margin: 0;
}
.homepage-form-card form {
  display: flex;
  flex-direction: column;
  margin: 30px auto 0 auto;
  max-width: 415px;
  padding: 0 30px 0 30px;
}
@media (min-width: 768px) {
  .homepage-form-card form {
    padding: 0px;
  }
}

#contact-section .container {
  display: flex;
  flex-direction: column;
  flex-direction: column-reverse;
  height: 670px;
  padding-top: 50px;
}
#contact-section .container .contact-information {
  width: 100%;
  max-width: 375px;
  text-align: center;
  margin: 0 auto;
}
#contact-section .container .contact-information .info-box h6 {
  color: var(--color-defalut);
}
#contact-section .container .contact-information .info-box h6 i {
  margin-right: 5px;
  color: var(--color-secondary);
}
#contact-section .container .contact-information .info-box p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  margin-left: 15px;
  color: var(--color-primary);
}
#contact-section .container .contact-information .info-box .italic-text {
  font-style: italic;
}
@media (min-width: 660px) {
  #contact-section .container {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
    height: 490px;
  }
  #contact-section .container .contact-information {
    text-align: left;
  }
}
@media (min-width: 768px) {
  #contact-section .container {
    height: 715px;
  }
}
#contact-section .container .images {
  position: relative;
  width: 50%;
  height: 50%;
}
#contact-section .container .images .front-image {
  position: absolute;
  bottom: 0px;
  left: 0;
  z-index: 5;
  max-width: 100%;
  height: auto;
}
#contact-section .container .images .back-image {
  position: absolute;
  bottom: 0px;
  left: 0;
  z-index: 0;
  max-width: 100%;
  height: auto;
}
@media (min-width: 660px) {
  #contact-section .container .images {
    width: 100%;
    height: 100%;
  }
}
@media (min-width: 1921px) {
  #contact-section .container {
    max-width: 1200px;
  }
}

.page-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
}
.page-buttons .prev-next-btn {
  background-color: transparent;
  cursor: pointer;
  padding: 3px;
  border: none;
  font-weight: 600;
  font-size: 18px;
  margin-left: 10px;
  margin-right: 20px;
}
.page-buttons .inactive {
  color: darkgray;
  cursor: default;
}
.page-buttons .page-btn {
  display: inline-block;
  cursor: pointer;
  border-radius: 3px;
  border: 1px solid;
  padding: 15px 40px;
  font-size: 16px;
  transition: 0.25s;
  text-decoration: none !important;
  background-color: transparent;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-default);
  padding: 0;
  height: 55px;
  width: 55px;
  border-radius: 50%;
  border-color: var(--color-border-gray);
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  margin-right: 10px;
  font-weight: 600;
}
.page-buttons .page-btn:hover {
  transition: 0.25s;
  text-decoration: none;
}
.page-buttons .active {
  color: var(--color-secondary);
  cursor: pointer;
}
.page-buttons .active-btn {
  color: var(--color-secondary);
  border: 2px solid var(--color-secondary);
  font-weight: 900;
}

.side-bar {
  padding: 60px 0 60px 35px;
  border-bottom: 1px solid var(--color-primary);
  border-color: var(--color-border-gray);
  position: relative;
  margin-bottom: 30px;
  background-color: var(--color-light);
}
@media (min-width: 1400px) {
  .side-bar {
    margin-bottom: 100px;
    border-bottom: none;
    border-left: 1px solid var(--color-border-gray);
  }
}
.side-bar .tags-box {
  padding-top: 25px;
}
.side-bar .tags-box h4 {
  margin-bottom: 15px;
}
.side-bar .tags-box .tag {
  display: inline-block;
  border: 1px solid var(--color-border-gray);
  padding: 10px 20px;
  border-radius: 25px;
  font-weight: 500;
  font-size: 13px;
  margin-bottom: 10px;
}
.side-bar .card {
  margin-top: 30px;
  background-color: var(--color-primary);
  background-image: url("/images/envelope.png");
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-position-x: right;
  border-radius: 3px;
  height: 223px;
  width: 100%;
  max-width: 300px;
  padding: 20px;
}
.side-bar .card h4 {
  color: var(--color-accent);
}
.side-bar .card p {
  color: var(--color-light);
  margin-bottom: 15px;
}
.side-bar .card .input-div {
  position: relative;
}
.side-bar .card .input-div i {
  position: absolute;
  top: 13px;
  right: 15px;
  z-index: 2;
  color: var(--color-primary);
  font-size: 22px;
}
.side-bar .card .input-div i::placeholder {
  font-style: italic;
}

.date {
  color: #9C9EA6;
}
.date i {
  margin-right: 5px;
}

#breadcrumbs {
  margin-top: 85px;
  height: 245px;
  background-image: url("/media/kfunlvtd/globe.png");
  background-repeat: no-repeat, no-repeat;
  background-position: bottom left, top right;
}
@media (min-width: 1400px) {
  #breadcrumbs {
    margin-top: 135px;
  }
}
@media (min-width: 1400px) {
  #breadcrumbs {
    background-image: url("/media/kfunlvtd/globe.png"), url("/media/3kbd2vkw/upside-down-globe.png");
  }
}
#breadcrumbs .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
#breadcrumbs .container .breadcrumb {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 14px;
  list-style: none;
  padding: 0;
}
#breadcrumbs .container .breadcrumb span {
  padding: 0;
  margin-right: 10px;
}
#breadcrumbs .container .breadcrumb span i {
  color: var(--color-default);
  margin-left: 10px;
  margin-right: 10px;
}
#breadcrumbs .container .breadcrumb a {
  text-decoration: none;
}
#breadcrumbs .container .breadcrumb a:hover {
  color: var(--color-default);
  text-decoration: underline;
}

.professional-card-large {
  background-color: var(--color-light);
  max-width: 370px;
  width: 100%;
  height: 460px;
  box-shadow: 1px 1px 10px 1px var(--color-border-gray);
  text-decoration: none;
  color: var(--color-deafault);
  border-radius: 3px;
}
.professional-card-large .content {
  height: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.professional-card-large .content img {
  max-width: 100%;
}
.professional-card-large .content .text {
  padding-top: 20px;
  padding-bottom: 20px;
}
.professional-card-large .content .text h4 {
  font-weight: 600;
  margin-left: 30px;
  margin-bottom: 5px;
}
.professional-card-large .content .text p {
  color: #9C9EA6;
  font-size: 13px;
  margin-left: 30px;
  padding-bottom: 0;
  width: 320px;
}
.professional-card-large:hover {
  transform: scale(1.03);
  box-shadow: 1px 1px 10px 8px var(--color-border-gray);
}

.professional-card-small {
  background-color: var(--color-light);
  max-width: 270px;
  box-shadow: 1px 1px 10px 1px var(--color-border-gray);
  text-decoration: none;
  color: var(--color-deafault);
  border-radius: 3px;
}
.professional-card-small .content img {
  max-width: 100%;
  max-width: 270px;
  height: 270px;
}
.professional-card-small .content .text {
  padding-top: 20px;
  padding-bottom: 20px;
}
.professional-card-small .content .text h5 {
  font-weight: 600;
  margin-left: 30px;
  margin-bottom: 0;
}
.professional-card-small .content .text p {
  color: #9C9EA6;
  font-size: 13px;
  margin-left: 30px;
  padding-bottom: 0;
  width: 320px;
}
.professional-card-small:hover {
  transform: scale(1.03);
  box-shadow: 1px 1px 10px 8px var(--color-border-gray);
}

.article-box {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 770px;
  padding-bottom: 25px;
  padding-top: 25px;
  border-bottom: 1px solid var(--color-border-gray);
}
@media (min-width: 768px) {
  .article-box {
    flex-direction: row;
  }
}
@media (min-width: 1400px) {
  .article-box {
    width: 770px;
  }
}
.article-box img {
  width: 100%;
  max-width: 370px;
  max-height: 200px;
}
.article-box .text-info h4 {
  margin: 0;
}
.article-box .text-info p, .article-box .text-info a {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
}
.article-box .text-info a {
  margin-top: 25px;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: var(--color-default);
  font-weight: 600;
  padding: 2px 4px;
}
.article-box .text-info a i {
  color: var(--color-secondary);
  margin-left: 5px;
  font-size: 9px;
}
.article-box .text-info a:hover {
  box-shadow: 2px 2px 10px 1px var(--color-border-gray);
}

.small-card-link {
  text-decoration: none;
  color: var(--color-default);
}
.small-card-link .spacing {
  padding: 15px 0;
  border-bottom: 1px solid var(--color-border-gray);
}
.small-card-link .spacing .small-project-card {
  display: flex;
  align-items: center;
  width: 310px;
  height: 85px;
  border-radius: 3px;
}
.small-card-link .spacing .small-project-card img {
  width: 130px;
  height: 100%;
  object-fit: cover;
}
.small-card-link .spacing .small-project-card h6 {
  margin-top: 7px;
  max-width: 150px;
  color: var(--color-deafult);
}
.small-card-link .spacing .small-project-card .text-info {
  margin-left: 10px;
}
.small-card-link .spacing .small-project-card:hover {
  box-shadow: 2px 2px 40px 5px var(--color-border-gray);
}

#header {
  position: fixed;
  z-index: 15;
  width: 100vw;
}
#header .top-bar {
  display: none;
  height: 50px;
}
#header .top-bar .container {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
#header .top-bar .address {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
}
#header .top-bar .icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 17px;
  height: 100%;
}
#header .top-bar .icons .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
  font-size: 13px;
  padding-left: 17px;
  border-left: 1px solid var(--color-primary-light);
}
#header .top-bar .icons .icon:last-of-type {
  border-right: 1px solid var(--color-primary-light);
  padding-right: 17px;
}
#header .top-bar .icons .icon a {
  text-decoration: none;
}
#header .top-bar .icons .icon a::after {
  content: "";
}
@media (min-width: 1400px) {
  #header .top-bar {
    display: block;
  }
}
#header .nav-section {
  height: 85px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 1px 1px var(--color-border-gray);
}
#header .nav-section .container {
  display: flex;
  justify-content: space-between;
}
#header .nav-section .container img {
  margin: 0;
}
#header .nav-section .nav-bar {
  display: none;
}
#header .nav-section .btn-menu {
  height: 40px;
  width: 40px;
  font-size: 1rem;
  margin-right: 30px;
}
#header .nav-section ul {
  display: none;
  margin: 0;
}
#header .nav-section .search-bar {
  display: none;
}
@media (min-width: 768px) {
  #header .nav-section .btn-menu {
    margin-right: 0px;
  }
  #header .nav-section .search-bar {
    display: none;
  }
  #header .nav-section .nav-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    width: 65%;
  }
  #header .nav-section ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
  }
  #header .nav-section ul .link {
    text-decoration: none;
    color: var(--color-primary);
    font-weight: bold;
  }
  #header .nav-section ul .link:hover {
    text-decoration: underline;
  }
  #header .nav-section ul .active {
    color: var(--color-secondary);
    text-decoration: underline;
  }
}
@media (min-width: 1400px) {
  #header .nav-section .btn-menu {
    display: none;
  }
  #header .nav-section .search-bar {
    display: block;
    position: relative;
    margin-right: 25px;
  }
}

#footer {
  min-height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  background-color: #0E0E0E;
}

#hero-section {
  margin-top: 85px;
}
@media (min-width: 1400px) {
  #hero-section {
    margin-top: 135px;
  }
}
#hero-section .container-fluid {
  text-align: center;
  background-color: #F1F0F5;
  padding: 50px 0;
}
@media (min-width: 910px) {
  #hero-section .container-fluid {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: calc(55% + 20vw) center;
  }
}
@media (min-width: 1400px) {
  #hero-section .container-fluid {
    background-position: 0;
  }
}
@media (min-width: 1921px) {
  #hero-section .container-fluid {
    height: 600px;
  }
}
#hero-section .container-fluid h1 {
  font-size: 50px;
}
@media (min-width: 768px) {
  #hero-section .container-fluid {
    height: 550px;
  }
  #hero-section .container-fluid h1 {
    font-size: 70px;
  }
  #hero-section .container-fluid .content {
    text-align: left;
    width: 550px;
  }
  #hero-section .container-fluid .content p {
    width: 500px;
  }
  #hero-section .container-fluid .content a {
    margin-top: 15px;
  }
}

#about-us {
  margin-top: 80px;
  padding-bottom: 80px;
  position: relative;
}
@media (min-width: 700px) {
  #about-us {
    padding-bottom: 530px;
  }
}
@media (min-width: 900px) {
  #about-us {
    padding-bottom: 80px;
  }
}
#about-us .content {
  padding-top: 20px;
  max-width: 670px;
}
@media (min-width: 900px) {
  #about-us .content {
    width: 100%;
    max-width: 370px;
  }
}
@media (min-width: 1150px) {
  #about-us .content {
    width: 100%;
    max-width: 570px;
  }
}
@media (min-width: 1230px) {
  #about-us .content {
    width: 100%;
    max-width: 670px;
  }
}
#about-us .content .section-title {
  text-align: center;
}
#about-us .content .quote {
  font-size: 20px;
  font-weight: 300;
}
#about-us .content img {
  display: block;
  margin: 10px 0;
}
@media (min-width: 768px) {
  #about-us .content .section-title {
    text-align: left;
  }
  #about-us .content img {
    margin: 0;
    margin-bottom: 20px;
  }
}
@media (min-width: 700px) {
  #about-us .homepage-form-card {
    position: absolute;
    top: 300px;
    right: 10px;
    max-width: 450px;
  }
}
@media (min-width: 768px) {
  #about-us .homepage-form-card {
    width: 470px;
  }
}
@media (min-width: 900px) {
  #about-us .homepage-form-card {
    top: -160px;
    right: 10px;
  }
}
@media (min-width: 1255px) {
  #about-us .homepage-form-card {
    top: -160px;
    right: 0;
  }
}
@media (min-width: 1921px) {
  #about-us .homepage-form-card {
    top: -180px;
    left: 910px;
  }
}

#our-services {
  padding-top: 40px;
  padding-bottom: 80px;
}
#our-services .section-title {
  text-align: center;
  max-width: 600px;
  margin: 40px auto;
}
#our-services .section-title h2 {
  margin: 0;
}
#our-services .cards {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 25px;
  row-gap: 25px;
  flex-wrap: wrap;
}
@media (min-width: 1921px) {
  #our-services .cards {
    margin: 0 auto;
    max-width: 1200px;
  }
}

#our-story {
  padding-top: 100px;
  background-image: url("/images/dot-map 1.png");
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 52px;
}
#our-story .content {
  text-align: center;
}
#our-story .content h2 {
  margin: 0;
}
#our-story .content span {
  font-size: 40px;
}
#our-story .content p {
  max-width: 800px;
  margin: 20px auto;
}
#our-story .content img {
  margin-top: 70px;
  width: 100%;
}

#success-stories {
  padding-top: 80px;
  position: relative;
}
#success-stories .background-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 82%;
}
#success-stories .container {
  text-align: center;
  background-repeat: no-repeat;
  background-position-y: 10px;
  background-position-x: 40px;
  color: var(--color-light);
}
@media (min-width: 1921px) {
  #success-stories .container {
    width: 1200px;
    align-items: center;
  }
}
#success-stories .container .section-title h2 {
  color: var(--color-light);
}
#success-stories .container img {
  margin-top: 60px;
  width: 100%;
}
@media (min-width: 768px) {
  #success-stories .container img {
    margin-top: 40px;
  }
}
@media (min-width: 1400px) {
  #success-stories .container img {
    margin-top: 80px;
  }
}
#success-stories .container .numbers {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#success-stories .container .numbers .nr-box {
  max-width: 32%;
  height: 200px;
}
#success-stories .container .numbers .nr-box span {
  font-size: clamp(45px, 100px, 8vw);
  font-weight: 600;
}
#success-stories .container .numbers .nr-box p {
  font-size: 16px;
  font-weight: 500;
}
@media (min-width: 768px) {
  #success-stories .container .numbers .nr-box p {
    font-size: 18px;
  }
}

#recent-projects {
  margin-top: 80px;
}
#recent-projects .images {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
#recent-projects .images .image img {
  max-width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}
@media (min-width: 768px) {
  #recent-projects .images {
    grid-template-columns: auto auto;
  }
}
@media (min-width: 1400px) {
  #recent-projects .images {
    max-width: 1920px;
    grid-template-columns: auto auto auto auto;
  }
}

#brand-mentions {
  padding: 70px 0;
}
#brand-mentions .container {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-around;
  align-items: center;
  row-gap: 30px;
}
@media (min-width: 768px) {
  #brand-mentions .container {
    justify-content: space-around;
    grid-template-columns: auto auto auto;
  }
}
@media (min-width: 1400px) {
  #brand-mentions .container {
    justify-content: space-between;
    grid-template-columns: auto auto auto auto auto auto;
  }
}

#article {
  padding-top: 50px;
  padding-bottom: 100px;
}
#article .container figure {
  margin: 0;
}
#article .container figure .image {
  display: inline-block;
  margin-right: 15px;
}
@media (min-width: 690px) {
  #article .container figure .image {
    float: left;
  }
  #article .container figure .image .container {
    margin: 0;
  }
}
@media (min-width: 1000px) {
  #article .container figure .image {
    float: none;
  }
}
#article .container figure .image img {
  width: 100%;
  max-width: 400px;
}
#article .container figure .image figcaption {
  font-weight: 500;
  margin-top: 5px;
}
#article .container figure .text .qoute {
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  margin-bottom: 10px;
}
#article .container figure .text .main-text {
  margin-top: 15px;
  margin-bottom: 15px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
}
#article .container figure .text .main-text:last-of-type {
  margin-top: 20px;
  margin-bottom: 0;
  padding: 0;
}
@media (min-width: 1000px) {
  #article .container figure .text {
    max-width: 540px;
  }
  #article .container figure .text img {
    width: 400px;
  }
}
@media (min-width: 1200px) {
  #article .container figure .text {
    max-width: 720px;
  }
}
@media (min-width: 1000px) {
  #article .container figure {
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: flex-start;
  }
}
@media (min-width: 1400px) {
  #article .container figure {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-items: flex-start;
  }
}
@media (min-width: 768px) {
  #article .container {
    padding-top: 30px;
  }
}
@media (min-width: 1921px) {
  #article .container {
    max-width: 1200px;
  }
}

#great-reviews {
  margin-bottom: 100px;
  overflow-x: hidden;
}
#great-reviews .container {
  position: relative;
  height: 511px;
}
#great-reviews .container .text-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100%;
}
#great-reviews .container .text-content .text-ratings .paragraph {
  color: #999999;
  font-style: italic;
  font-size: 20px;
  max-width: 511px;
  margin: 0 auto;
}
#great-reviews .container .text-content .text-ratings .stars {
  font-size: 0.84rem;
  margin-bottom: 20px;
}
#great-reviews .container .text-content .text-ratings .writer {
  padding-bottom: 5px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
}
#great-reviews .container .text-content .text-ratings .company-text {
  font-size: 20px;
  font-style: italic;
}
@media (min-width: 1400px) {
  #great-reviews .container .text-content {
    text-align: left;
  }
  #great-reviews .container .text-content h2 {
    max-width: 400px;
  }
  #great-reviews .container .text-content .text-ratings .paragraph {
    margin: 0;
  }
}
#great-reviews .container img {
  display: none;
  position: absolute;
}
@media (min-width: 1400px) {
  #great-reviews .container img {
    display: block;
    top: 0;
    right: -360px;
  }
}
@media (min-width: 1921px) {
  #great-reviews .container {
    max-width: 1200px;
  }
}

#our-expert {
  padding-bottom: 80px;
}
#our-expert .section-title {
  text-align: center;
  max-width: 550px;
  margin: 40px auto;
}
#our-expert .section-title h2 {
  margin: 0;
}
#our-expert .professional-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  flex-wrap: wrap;
}
@media (min-width: 1921px) {
  #our-expert .professional-cards {
    margin: 0 auto;
    max-width: 1200px;
  }
}

#services-section {
  padding-top: 40px;
  padding-bottom: 80px;
}
#services-section .container .section-title {
  text-align: center;
  max-width: 600px;
  margin: 40px auto;
}
#services-section .container .section-title h2 {
  margin: 0;
}
#services-section .container .cards {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 25px;
  row-gap: 25px;
  flex-wrap: wrap;
}
@media (min-width: 1921px) {
  #services-section .container .cards {
    margin: 0 auto;
    max-width: 1200px;
  }
}

#map {
  margin-bottom: 150px;
  position: relative;
}
#map .container .form-box {
  padding: 30px;
  box-shadow: 1px 1px 10px 1px var(--color-border-gray);
  width: 100%;
  max-width: 1170px;
  position: absolute;
  bottom: -140px;
  left: 0;
  right: 0;
  text-align: center;
}
@media (min-width: 1400px) {
  #map .container .form-box {
    bottom: -100px;
  }
}
@media (min-width: 768px) {
  #map .container .form-box {
    padding: 70px;
  }
}
#map .container .form-box .title-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#map .container .form-box .title-text .section-title h2 {
  width: 100%;
  max-width: 500px;
}
#map .container .form-box .title-text p {
  width: 100%;
  max-width: 500px;
  margin-bottom: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  font-style: italic;
  color: var(--color-primary);
}
#map .container .form-box form .inputs {
  display: grid;
  grid-template-columns: auto;
  column-gap: 20px;
}
@media (min-width: 768px) {
  #map .container .form-box form .inputs {
    grid-template-columns: auto auto;
  }
}
#map .container .form-box form button {
  margin: 10px auto;
  width: 140px;
}
@media (min-width: 1921px) {
  #map .container {
    max-width: 1200px;
  }
}

#main-content .container {
  display: flex;
  flex-direction: column-reverse;
}
@media (min-width: 1400px) {
  #main-content .container {
    flex-direction: row;
    gap: 60px;
  }
}
#main-content .container .articles {
  padding: 30px 0;
}
@media (min-width: 1400px) {
  #main-content .container .articles {
    padding: 60px 0;
    padding-bottom: 110px;
  }
}
@media (min-width: 1921px) {
  #main-content .container {
    max-width: 1200px;
  }
}

#project-details {
  padding-top: 50px;
}
#project-details .container {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1400px) {
  #project-details .container {
    flex-direction: row;
    gap: 60px;
  }
}
@media (min-width: 1400px) {
  #project-details .container .project-article {
    width: 770px;
    padding-bottom: 100px;
    padding-top: 50px;
  }
  #project-details .container .project-article .date {
    padding: 0;
  }
}
#project-details .container .project-article .tags-box {
  margin-top: 30px;
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}
#project-details .container .project-article .tags-box .tag {
  background-color: var(--color-accent);
  display: inline-block;
  border: 1px solid var(--color-border-gray);
  padding: 10px 20px;
  border-radius: 25px;
  font-weight: 500;
  font-size: 13px;
  margin-bottom: 10px;
}
#project-details .container .side-bar {
  border-top: 1px solid var(--color-border-gray);
  margin-top: 30px;
}
@media (min-width: 1400px) {
  #project-details .container .side-bar {
    border-top: none;
    width: 340px;
    padding-top: 0;
  }
}
@media (min-width: 1921px) {
  #project-details .container {
    width: 1200px;
  }
}

#service-details .article-menu {
  display: flex;
  flex-direction: column-reverse;
}
@media (min-width: 768px) {
  #service-details .article-menu {
    flex-direction: row;
    gap: 50px;
  }
}
#service-details .article-menu .service-article {
  padding-top: 80px;
}
@media (min-width: 768px) {
  #service-details .article-menu .service-article {
    max-width: 770px;
    width: 100%;
  }
}
#service-details .article-menu .service-article p img {
  max-width: 760px;
}
#service-details .article-menu .side-bar {
  border-top: 1px solid var(--color-border-gray);
  margin-top: 30px;
}
@media (min-width: 768px) {
  #service-details .article-menu .side-bar {
    border-top: none;
    width: 340px;
    padding-top: 30px;
    border-right: 1px solid var(--color-border-gray);
    border-bottom: none;
    border-top: none;
    border-left: none;
    padding-left: 0;
    padding-right: 40px;
    margin-bottom: 0;
  }
}
#service-details .article-menu .side-bar .menu-card {
  padding: 15px 0;
  max-width: 300px;
  width: 100%;
  text-decoration: none;
  color: var(--color-deafult);
  border-radius: 10px;
}
#service-details .article-menu .side-bar .menu-card img {
  width: 300px;
  height: 168px;
  object-fit: cover;
}
#service-details .article-menu .side-bar .menu-card h4 {
  margin: 7px 0 25px 5px;
  max-width: 150px;
}
#service-details .article-menu .side-bar .menu-card .info {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  margin: 25px 0 0 5px;
}
#service-details .article-menu .side-bar .menu-card:hover {
  box-shadow: 2px 2px 40px 5px var(--color-border-gray);
}
@media (min-width: 1921px) {
  #service-details .article-menu {
    max-width: 1200px;
  }
}

#service-form {
  padding-top: 70px;
  padding-bottom: 80px;
}
#service-form .form-group {
  width: 100%;
}
#service-form .form-group h4 {
  font-size: 25px;
  margin-bottom: 15px;
}
#service-form .form-group .inputs {
  display: flex;
  gap: 30px;
}
#service-form .form-group button {
  margin-top: 15px;
  color: var(--color-accent);
}
@media (min-width: 1921px) {
  #service-form {
    max-width: 1200px;
  }
}
