@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@inject Umbraco.Cms.Web.Common.UmbracoHelper UmbracoHelper
@{
    var showAboutSection = Model.Value<bool>("displayAboutSection");
    var showAboutQuote = Model.Value<bool>("displayAboutQuote");
    var showAboutForm = Model.Value<bool>("displayAboutFormcard");
    var signatureImageUrl = Model?.Value<IPublishedContent>("aboutSignatureImage")?.Url();
    var signatureImage = !string.IsNullOrEmpty(signatureImageUrl) ? signatureImageUrl : "";

    var buttonColor = Model?.Value<ColorPickerValueConverter.PickedColor>("aboutFormButtonColor")?.Label ?? "accent";
}

@if (showAboutSection)
{
    <section id="about-us">
        <div class="container">
            <div class="content">
                <div class="section-title">
                    <span>@Model?.Value("aboutSectionTitle")</span>
                    <h2>@Model?.Value("aboutHeading")</h2>
                </div>
                @if (showAboutQuote)
                {
                    <p class="quote">“@Model?.Value("aboutQuote")”</p>
                }
                <p class="small-text">@Model?.Value("aboutParagraph")</p>
                <img src="@signatureImage" alt="signature">
                <p>@Model?.Value("aboutSigantureCaption")</p>
            </div>

            @if (showAboutForm)
            {
                <div class="homepage-form-card">
                    <div class="top bg-primary"><h3>@Model.Value("aboutFormTitle")</h3></div>
                    @using (Html.BeginUmbracoForm("SubmitHandler", "Contact", FormMethod.Post, new { novailidate = "novalidate" }))
                    {
                        <div class="form">
                            <p class="small-text">@Model.Value("aboutFormParagraph")</p>
                            @await Html.PartialAsync("/Views/Partials/Shared/_ContactFormPartial.cshtml")
                            <button class="btn-@buttonColor">@Model.Value("aboutFormButtonText")</button>
                        </div>
                    }
                </div>
            }
        </div>
    </section>
}

