#our-services {
    padding-top: 40px;
    padding-bottom: 80px;

    .section-title {
        text-align: center;
        max-width: 600px;
        margin: 40px auto;

        h2 {
            margin: 0;
        }
    }

    .cards {
        @include center;
        column-gap:25px;
        row-gap: 25px;
        flex-wrap: wrap;

        @include ultra-wide {
            margin: 0 auto;
            max-width: 1200px;
        }
    }
}