#our-story {
    padding-top: 100px;
    background-image: url("/images/dot-map\ 1.png");
    background-repeat: no-repeat;
    background-position-x: calc(50%);
    background-position-y: 52px;
    
    .content {
        text-align: center;

        h2 {
            margin: 0;
        }

        span {
            font-size: 40px;
        }

        p {
            max-width: 800px;
            margin: 20px auto;
        }

        img {
            margin-top:70px;
            width: 100%;
        }
    }  
}