#breadcrumbs {
    @include header-space;
    height: 245px;
    background-image: url("/media/kfunlvtd/globe.png");

    @include desktop {
        background-image: url("/media/kfunlvtd/globe.png"), url("/media/3kbd2vkw/upside-down-globe.png");
    }

    background-repeat: no-repeat,no-repeat;
    background-position: bottom left,top right;

    .container {
        @include display-column;
        height: 100%;

        .breadcrumb {
            @include center;
            flex-wrap: wrap;
            font-size: 14px;
            list-style: none;
            padding: 0;

            span {
                padding: 0;
                margin-right: 10px;

                i {
                    color: var(--color-default);
                    margin-left: 10px;
                    margin-right: 10px;
                }
            }

            a {
                text-decoration: none;

                &:hover {
                    color: var(--color-default);
                    text-decoration: underline;
                }
            }
        }
    }
}
