.page-buttons {
    @include center;
    margin-top: 35px;

    .prev-next-btn {
        background-color: transparent;
        cursor: pointer;
        padding: 3px;
        border: none;
        font-weight: 600;
        font-size: 18px;
        margin-left: 10px;
        margin-right: 20px;
    }

    .inactive {
        color: darkgray;
        cursor: default;
    }

    .page-btn {
        @include btn-circle;
        margin-right: 10px;
        font-weight: 600;
    }

    .active {
        color: var(--color-secondary);
        cursor: pointer;
    }

    .active-btn {
        color: var(--color-secondary);
        border: 2px solid var(--color-secondary);
        font-weight:900;
    }
}
