#main-content {

    .container {
        display: flex;
        flex-direction: column-reverse;

        @include desktop {
            flex-direction: row;
            gap: 60px;
        }

        .articles {
            padding: 30px 0;

            @include desktop {
                padding: 60px 0;
                padding-bottom: 110px;
            }
        }

        @include ultra-wide {
            max-width: 1200px;
        }
    }
}
