@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@inject Umbraco.Cms.Web.Common.UmbracoHelper UmbracoHelper
@{
    var root = UmbracoHelper.ContentAtRoot();
    var settings = root?.FirstOrDefault(x => x.ContentType.Alias == "siteSettings") ?? null;

    var siteLogoUrl = settings?.Value<IPublishedContent>("siteLogo")!.Url() ?? null;

}

<section class="top-bar bg-primary">
    <div class="container">
        <div class="address">Klarabergsviadukten 90, 111 64 Stockholm</div>
        <div class="icons">
            <div class="icon">
                <a href="https://www.facebook.com" target="_blank">
                    <i class="fa-brands fa-facebook-f"></i>
                </a>
            </div>
            <div class="icon">
                <a href="https://www.twitter.com" target="_blank">
                    <i class="fa-brands fa-twitter"></i>
                </a>
            </div>
            <div class="icon">
                <a href="https://www.x.com" target="_blank">
                    <i class="fa-brands fa-linkedin-in"></i>
                </a>
            </div>
        </div>
    </div>
</section>
<section class="nav-section">
    <div class=" container">
        @if (!string.IsNullOrEmpty(siteLogoUrl))
        {
            <a href="/Homepage.html"><img src="@siteLogoUrl" alt="site-logo"></a>
        }

        <ul class="nav-bar">
            <li><a class="link" href="/Aboutpage.html">About</a></li>
            <li><a class="link" href="/Servicespage.html">Services</a></li>
            <li><a class="link" href="/Projectspage.html">Projects</a></li>
            <li><a class="link" href="/Contactpage.html">Contact</a></li>
            <form class="search-bar search-form" method="post">
                <input class="" type="text">
                <i class="fa-solid fa-magnifying-glass"></i>
            </form>
        </ul>
        <button class="btn-menu"><i class="fa-solid fa-bars"></i></button>
    </div>
</section>